server {
  listen 80 default_server;
  server_name <%= node["gitlab-monitoring"]["grafana"]["nginx"]["hostname"] %>;

  access_log   /var/log/nginx/maintenance-access.log;

  add_header Strict-Transport-Security max-age=63072000;
  add_header X-Frame-Options DENY;
  add_header X-Content-Type-Options nosniff;

  gzip            on;
  gzip_disable    "msie6";

  gzip_vary       on;
  gzip_proxied    any;
  gzip_comp_level 6;
  gzip_buffers    16 8k;
  gzip_http_version 1.1;
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  # Per https://cloud.google.com/load-balancing/docs/https/#timeouts_and_retries
  keepalive_timeout 620s;

  # Trust the GCP LB ranges (https://cloud.google.com/load-balancing/docs/https/#firewall_rules)
  set_real_ip_from 130.211.0.0/22;
  set_real_ip_from 35.191.0.0/16;
  set_real_ip_from <%= node["gitlab-monitoring"]["grafana"]["nginx"]["public_ip"] %>;
  real_ip_header X-Forwarded-For;
  # The header contains the actual public IP as well, which `trusted` above, as the last value
  # This ensure we use the last *non-trusted* address in the header
  real_ip_recursive on;

  location / {
    root /var/www;
    index  index.html index.htm;
  }
}
