user <%= @nginx_user %><% if @nginx_user != @group %> <%= @group %><% end %>;
worker_processes <%= @worker_processes %>;
error_log <%= @nginx_log_dir %>/error.log;
pid <%= @pid %>;

<% if (node['platform'] == 'debian' && node['platform_version'].to_i >= 9) || (node['platform'] == 'ubuntu' && node['platform_version'].to_i >= 18) %>
include /etc/nginx/modules-enabled/*.conf;
<% end -%>
<% if %w(amazon centos fedora).include?(node['platform']) -%>
include /usr/share/nginx/modules/*.conf;
<% end -%>

events {
  worker_connections <%= @worker_connections %>;
}

http {
  log_format custom '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_goog_authenticated_user_email"';

  access_log  <%= @nginx_log_dir %>/access.log custom;

  sendfile            <%= @sendfile %>;
  tcp_nopush          <%= @tcp_nopush %>;
  tcp_nodelay         <%= @tcp_nodelay %>;
  keepalive_timeout   <%= @keepalive_timeout %>;
  types_hash_max_size <%= @types_hash_max_size %>;

  gzip on;
  gzip_proxied any;
  gzip_types text/plain text/css application/x-javascript text/xml application/xml application/rss+xml application/atom+xml image/svg+xml text/javascript application/javascript application/json text/mathml;

  include       <%= @nginx_dir %>/mime.types;
  default_type  application/octet-stream;

  include <%= @nginx_dir %>/conf.d/*.conf;
  include <%= @nginx_dir %>/sites-enabled/*;
}
