server {
  listen 80 default_server;
  server_name <%= node["gitlab-monitoring"]["grafana"]["nginx"]["hostname"] %>;
  <% if node["gitlab-monitoring"]["grafana"]["nginx"]["ssl_by_proxy"] %>
  if ($http_x_forwarded_proto != 'https') {
    return 301 https://<%= node["gitlab-monitoring"]["grafana"]["nginx"]["hostname"] %>$request_uri;
  }
  <% else %>
  return 301 https://<%= node["gitlab-monitoring"]["grafana"]["nginx"]["hostname"] %>$request_uri;
  <% end %>
}

<% if !node["gitlab-monitoring"]["grafana"]["nginx"]["ssl_by_proxy"] %>
server {
  listen 443 ssl;
  server_name <%= node["gitlab-monitoring"]["grafana"]["nginx"]["hostname"] %>;

  ssl on;
  ssl_certificate /etc/ssl/<%= node["gitlab-monitoring"]["grafana"]["nginx"]["hostname"] %>.crt;
  ssl_certificate_key /etc/ssl/<%= node["gitlab-monitoring"]["grafana"]["nginx"]["hostname"] %>.key;

  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_prefer_server_ciphers on;
  ssl_ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4;

  ssl_dhparam /etc/ssl/certs/dhparam.pem;

  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 24h;
  ssl_buffer_size 1400;

  ssl_stapling on;
  ssl_stapling_verify on;
  resolver 8.8.4.4 8.8.8.8 valid=300s;
  resolver_timeout 10s;

  add_header Strict-Transport-Security max-age=63072000;
  add_header X-Frame-Options DENY;
  add_header X-Content-Type-Options nosniff;

  # include global/restrictions.conf;

  gzip            on;
  gzip_disable    "msie6";

  gzip_vary       on;
  gzip_proxied    any;
  gzip_comp_level 6;
  gzip_buffers    16 8k;
  gzip_http_version 1.1;
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  location /avatar/ {
    deny all;
    return 404;
  }

  location / {
    proxy_pass http://127.0.0.1:3000;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_read_timeout 300s;
  }

}
<% end %>
